#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.formWrapper {
  font-size: large;
  color: aqua;
}

.button{
  margin-top: 1em;
  margin-bottom: 1em; 
  font-style: italic;
  color: aqua;
}